{% extends 'home_page.html' %}
{% load static %}
{% block content %}
    <div class="chat">
        <div class="chat__column">
            <div class="chat__column--channels">
                <div class="add__channel-container">
                    <a href="{% url 'addChannel' %}">
                        <i class='bx bx-plus-medical'></i>
                    </a>
                </div>
                <div class="add__channel-container" id="showUser">
                    <a href="#">
                        <i class='bx bxs-group'></i>
                    </a>
                </div>
                {% for channel in channels %}
                    <div class="chat__column--channels__item">
                        <div class="channel-container">
                            <a class="channel-link" href="#" data-channel-id="{{ channel.id }}"
                               data-channel-name="{{ channel.channel_name }}">
                                <img src="{{ channel.channel_picture.url }}" alt="" class="channel_img">
                            </a>
                            <div class="channel-actions" style="display: none;">
                                <!-- Button to trigger the modal form -->
                                <a href="{% url 'createSubChannelChannel' channel.id %}" id="mySubChannelBtn">
                                    <i class='bx bx-plus-medical'></i>
                                </a>

                                <a class="pin-channel-link" href="{% url 'pin_channel' channel.id %}"
                                   style="display: none;">
                                    <i class='bx bx-pin'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="chat__column" id="chat__column-id">
            <div class="chat__column--channel_name" id="channels_name"></div>
            <div id="chat__column--subchannels" class="chat__column--subchannels"></div>
        </div>
        <div class="chat__column-room_container">
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <script>
        $(document).ready(function () {
            var lastClickedChannel = parseInt(localStorage.getItem('lastClickedChannel'));
            var lastClickedSubchannel = parseInt(localStorage.getItem('lastClickedSubchannel'));
            var pinnedChannel = parseInt(localStorage.getItem('pinnedChannel'));


            $('#showUser').click(function (e) {
                e.preventDefault();
                $('#channels_name').remove();  // Add this line to remove the selected part
                $.ajax({
                    type: 'GET',
                    url: '{% url "fetch_users" %}',
                    success: function (data) {
                        var usersHtml = '';
                        for (var i = 0; i < data.length; i++) {
                            usersHtml += '<div><a class="username-link" href="#" data-userid="' + data[i].id + '">' + data[i].username + '</a></div>';
                        }
                        $('#chat__column--subchannels').html(usersHtml);

                        // Add click event listener to username links
                        $('.username-link').click(function (e) {
                            e.preventDefault();

                            var userId = $(this).data('userid');  // Retrieve userId from the clicked link
                            var url = '/direct_message/' + userId;  // Replace this with the actual URL to the chat room

                            // Change the URL without reloading the page
                            history.pushState(null, '', url);

                            $.ajax({
                                type: 'GET',
                                url: url,
                                success: function (data) {
                                    $('.chat__column-room_container').html(data); // Insert the received HTML into the chat__column-room_container div
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error:', error);
                                }
                            });
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });


            $('.channel-link').click(function (e) {
                e.preventDefault();

                $('.channel-link').parent().removeClass('channel-selected');

                // Add the 'channel-selected' class to the clicked channel
                $(this).parent().addClass('channel-selected');

                var channelId = $(this).data('channel-id');
                var channelName = $(this).data('channel-name');
                var url = '/channels/' + channelId;

                localStorage.setItem('lastClickedChannel', channelId);
                // Get the channel actions div
                var channelActions = $(this).siblings('.channel-actions');

                // Show the pin link and the create subchannel link
                channelActions.children().show();

                // Append the channel name and the channel actions to the 'channels_name' element
                $('#channels_name').html(channelName).append(channelActions.clone().children());

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        var subchannelsHtml = '';
                        if (data.subchannels) {
                            for (var i = 0; i < data.subchannels.length; i++) {
                                var subchannelUrl = '/channels/' + data.subchannels[i].unique_key;
                                subchannelsHtml += '<div><a class="subchannel-link" href="' + subchannelUrl + '" data-subchannel-key="' + data.subchannels[i].unique_key + '">' + data.subchannels[i].name + '</a></div>';
                            }
                        }
                        $('#chat__column--subchannels').html(subchannelsHtml);

                        // Add click event listener to subchannel links
                        $('.subchannel-link').click(function (e) {
                            e.preventDefault();

                            var uniqueKey = $(this).data('subchannel-key');  // Retrieve uniqueKey from the clicked link
                            var url = '/channels/' + uniqueKey;

                            localStorage.setItem('lastClickedSubchannel', uniqueKey);

                            // Change the URL without reloading the page
                            history.pushState(null, '', url);

                            $.ajax({
                                type: 'GET',
                                url: url,
                                success: function (data) {
                                    $('.chat__column-room_container').html(data); // Insert the received HTML into the chat__column-room_container div
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error:', error);
                                }
                            });
                        });
                        // Automatically click the first subchannel link
                        $('.subchannel-link:first').click();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            if (pinnedChannel) {
                $('.channel-link[data-channel-id="' + pinnedChannel + '"]').click();
            } else {
                // If not, click the first channel link
                $('.channel-link:first').click();
            }

            // If last clicked channel exists in localStorage, trigger click event
            if (lastClickedChannel) {
                $('.channel-link[data-channel-id="' + lastClickedChannel + '"]').click();
            } else {
                // If not, click the first channel link
                $('.channel-link:first').click();
            }

            // If last clicked subchannel exists in localStorage, trigger click event
            if (lastClickedSubchannel) {
                $('.subchannel-link[data-subchannel-key="' + lastClickedSubchannel + '"]').click();
            } else {
                // If not, click the first subchannel link
                $('.subchannel-link:first').click();
            }
        });
    </script>
{% endblock %}