/* Example custom styles for the change list and change form pages */

/* Change list page styles */
.change-list {
    background-color: #fafafa;
}

.change-list th {
    color: #4CAF50;
}

.add-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
}


/* custom_model.css */

#result_list {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide the overflow */
    border: none; /* Remove borders */
}

#result_list td {
    border: none; /* Remove cell borders */
    padding: 15px 10px; /* Add some padding */
}

#changelist table thead th {
    padding: 15px 10px;
    color: white;
    font-size: 15px;
    background: #7393FF;
}

