{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "custom_index.css" %}">
{% endblock %}

{% block title %}{{ title }} | {% trans "Django site admin" %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% block content_title %}{% endblock %}
        <h1>DASHBOARD</h1>

        <div class="overview_numbers">
            <div class="message_count-container">
                <p>Total messages: </p>
                <p>{{ message_count }}</p>
            </div>

            <div class="users_count-container">
                <p>Total Users: </p>
                <p>{{ user_count }}</p>
            </div>

            <div class="channels_count-container">
                <p>Total Channels: </p>
                <p>{{ channel_count }}</p>
            </div>
        </div>

        <canvas id="messageChart" width="100px" height="100px"></canvas>
<canvas id="userChart" width="100px" height="100px"></canvas>
<canvas id="channelChart" width="100px" height="100px"></canvas>
        
    <script>
        var dates = {{ dates|safe }} || [];
        var messageCounts = {{ message_counts|safe }} || [];
        var userCounts = {{ user_counts|safe }} || [];
        var channelCounts = {{ channel_counts|safe }} || [];

        var messageCtx = document.getElementById('messageChart').getContext('2d');
        var userCtx = document.getElementById('userChart').getContext('2d');
        var channelCtx = document.getElementById('channelChart').getContext('2d');

        var messageChart = new Chart(messageCtx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Number of Messages',
                    data: messageCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var userChart = new Chart(userCtx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Number of Users',
                    data: userCounts,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var channelChart = new Chart(channelCtx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Number of Channels',
                    data: channelCounts,
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    borderColor: 'rgba(255, 159, 64, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}