{% load static %}
<div id="sideBarCustom">
    <div id="top">
        <div id="logo">
            <img src="{% static 'img/logo.svg' %}" alt="" style="width: 40px; height: 40px;">
            <span>ChatUP</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <div id="userAccount">
        <img src="{{ user.account.profile_picture.url|default_if_none:'path/to/default/profile_picture.jpg' }}"
             alt="profile" class="user-img">
        <div>
            <p class="bold">{{ user.username }}</p>
        </div>
    </div>
    <ul id="main-menu">
        <li>
            <a href="{% url 'admin:index' %}">
                <i class="bx bx-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
        </li>
        {% for app in app_list %}
            {% for model in app.models %}
                <li>
                    <a href="{{ model.admin_url }}">
                        <span class="nav-item" style="margin-left: 10px">{{ model.name }}</span>
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
        <li id="logout-li">
            <a href="{% url 'admin:logout' %}">
                <i class="bx bx-log-out"></i>
                <span class="nav-item">Logout</span>
            </a>
        </li>
    </ul>
</div>

<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector("#sideBarCustom");

    btn.onclick = function () {
        sidebar.classList.toggle("active");
        btn.classList.toggle("btn-active");

        if (!sidebar.classList.contains("active")) {
            // Close any open dropdowns
            document.querySelectorAll('.dropdown-container.show').forEach(function (openContainer) {
                openContainer.classList.remove('show');
            });
        }

        // Check if the sidebar width is 80px
        if (sidebar.offsetWidth === 80) {
            // Close any open dropdowns
            document.querySelectorAll('.dropdown-container.show').forEach(function (openContainer) {
                openContainer.classList.remove('show');
            });
        }
    }
</script>