<!-- templates/admin/chat/channels/change_list.html -->
{% extends "admin/change_list.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/custom_model.css' %}">
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block object-tools %}
    <a href="{% url 'admin:chat_categories_add' %}" class="add-button">Add Categoryy</a>
{% endblock %}

{% block result_list %}
    <table id="result_list">
        <thead>
        <tr>
            <th>Categories</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cl.result_list %}
            <tr>
                <!-- Add a link to the channel name -->
                <td><a href="{% url 'admin:chat_categories_change' item.id %}">{{ item.category }}</a></td>
                <!-- Add an edit button and a delete button -->
                <td>
                    <a href="{% url 'admin:chat_categories_change' item.id %}" class="edit-button">Edit</a> |
                    <a href="{% url 'admin:chat_categories_delete' item.id %}" class="delete-button">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}