<!-- chat/templates/chat/subchannel/subchannel.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subchannels</title>
</head>
<body>
{% if subchannel %}
    <h1>{{ subchannel.subchannel_name }}</h1>
    <center><h1>Hello, Welcome to my chat site! {{ request.user }}</h1></center>
    {% if favourite_messages %}
        <h2>Favourite Messages</h2>
        <div id="favourite-messages">
            {% for message in favourite_messages %}
                <div>
                    <strong>{{ message.message.sender.username }}: </strong>{{ message.message.content }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br/>
    <input type="text" id="id_message_send_input"/>
    <button type="submit" id="id_message_send_button">Send Message</button>
    <br/>
    <br/>
    <!-- Add this div to display the chat messages -->
    {% if subchannel %}
        <!-- Add this div to display the chat messages -->
        <div id="chat-messages">
            {% for message in messages %}
                <div style="display: flex; align-items: center; gap: 10px;">
                    <img src="{{ message.sender.account.profile_picture.url }}"
                         alt="{{ message.sender.username }}'s profile picture" width="50" height="50"
                         style="border-radius: 100%">
                    <div style="background-color: blue">{{ message.content }}</div>
                    <a
                            href="{% url 'favourite_message_in_subchannel' message.id %}">favourite</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No subchannel selected</p>
    {% endif %}
    <br/>
    {{ subchannel.unique_key|json_script:"unique_key" }}
    <script>
        var unique_Key = JSON.parse(document.getElementById("unique_key").textContent);

        var chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/channels/'
            + unique_Key
            + '/'
        );

        chatSocket.onopen = function (e) {
            console.log("The connection was set up successfully!");
        };

        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened!");
        };

        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector("#id_message_send_input").value;
            var username = '{{ request.user.username }}';
            var profilePictureUrl = '{{ request.user.account.profile_picture.url }}';

            console.log("Sending profile picture URL: " + profilePictureUrl);

            chatSocket.send(
                JSON.stringify({
                    message: messageInput,
                    username: username,
                    profile_picture_url: profilePictureUrl
                })
            );
        };

        window.onload = function () {
            fetch(`/get_messages/${unique_Key}/`)
                .then(response => response.json())
                .then(messages => {
                    const chatMessagesDiv = document.querySelector("#chat-messages");
                    messages.forEach(message => {
                        var div = document.createElement("div");

                        var img = document.createElement("img");
                        img.src = message.profile_picture_url;
                        img.alt = message.sender__username + "'s profile picture";
                        img.width = 50;
                        img.height = 50;
                        img.style.borderRadius = "100%";

                        div.appendChild(img);
                        div.innerHTML += "<strong>" + message.sender__username + ": </strong>" + message.content;
                        chatMessagesDiv.appendChild(div);
                    });
                });
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            console.log("Received profile picture URL: " + data.profile_picture_url);

            var div = document.createElement("div");
            var img = document.createElement("img");
            img.src = data.profile_picture_url;
            img.alt = data.username + "'s profile picture";
            img.width = "50";
            img.height = "50";
            img.style.borderRadius = "100%";
            div.appendChild(img);
            div.innerHTML += "<strong>" + data.username + ": </strong>" + data.message;
            document.querySelector("#id_message_send_input").value = "";
            document.querySelector("#chat-messages").appendChild(div);
        };
    </script>
{% else %}
    <p>No subchannel selected</p>
{% endif %}
</body>
</html>