{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subchannels</title>
    <link rel="stylesheet" href="{% static 'chat/css/subchannel.css' %}">
</head>
<body>
{% if subchannel %}
    <div class="room">
        <div class="room__room-name">
            <p>{{ subchannel.subchannel_name }}</p>
            <div class="room__name-tools">
                <button id="toggle-sidebar"><i class='bx bxs-bookmark-star'></i></button>
                <a href="{% url 'logout' %}"><i class='bx bx-log-out-circle'></i></a>
            </div>

        </div>
        <div id="favourite-messages-sidebar">
            <div class="favourite-message-container">
                Favourite Messages
                <button id="close-sidebar"><i class='bx bx-x'></i></button>
            </div>
            {% if favourite_messages %}
                {% for message in favourite_messages %}
                    <div>
                        <strong>{{ message.message.sender.username }}: </strong>{{ message.message.content }}
                    </div>
                {% endfor %}
            {% else %}
                <p>No favourite messages</p>
            {% endif %}
        </div>
        {% if subchannel %}
            <div id="chat-messages">
                {% for message in messages %}
                    <div class="chat-messages__content">
                        <img src="{{ message.sender.account.profile_picture.url }}"
                             alt="{{ message.sender.username }}'s profile picture" width="50" height="50"
                             style="border-radius: 100%">
                        <div>
                            <div>{{ message.sender }}</div>
                            <div><p>{{ message.content }}</p></div>
                        </div>
                        {% if message.is_favourited %}
                            <a href="{% url 'unfavourite_message_in_subchannel' message.id %}"><i
                                    class='bx bxs-star'></i>></a>
                        {% else %}
                            <a href="{% url 'favourite_message_in_subchannel' message.id %}"><i
                                    class='bx bx-star'></i></a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No subchannel selected</p>
        {% endif %}
        <div class="chat--messaging_box_container">
            <input type="text" id="id_message_send_input" placeholder="Enter message here"/>
            <button type="submit" id="id_message_send_button"><i class='bx bxs-paper-plane'></i></button>
        </div>
    </div>
    {{ subchannel.unique_key|json_script:"unique_key" }}
{% else %}
    <p>No subchannel selected</p>
{% endif %}
<script>
    document.getElementById('toggle-sidebar').addEventListener('click', function () {
        var sidebar = document.getElementById('favourite-messages-sidebar');
        sidebar.style.display = (sidebar.style.display === 'none') ? 'block' : 'none';
    });

    document.getElementById('close-sidebar').addEventListener('click', function () {
        var sidebar = document.getElementById('favourite-messages-sidebar');
        sidebar.style.display = 'none';
    });

    var unique_Key = JSON.parse(document.getElementById("unique_key").textContent);

    var chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/channels/'
        + unique_Key
        + '/'
    );

    var sentMessageIds = new Set();

    chatSocket.onopen = function (e) {
        console.log("The connection was set up successfully!");
    };

    chatSocket.onclose = function (e) {
        console.log("Connection closed");
    };

    document.querySelector("#id_message_send_input").focus();
    document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
        }
    };

    document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector("#id_message_send_input").value;
        var username = '{{ request.user.username }}';
        var profilePictureUrl = '{{ request.user.account.profile_picture.url }}';

        // Create a unique ID for the sent message
        var messageId = generateUUID();

        // Store the sent message ID
        sentMessageIds.add(messageId);

        // Create the sent message object
        var sentMessage = {
            id: messageId,
            message: messageInput,
            username: username,
            profile_picture_url: profilePictureUrl
        };

        // Send the message via WebSocket
        chatSocket.send(JSON.stringify(sentMessage));

        // Clear the input field
        document.querySelector("#id_message_send_input").value = "";
    };
    window.onload = function () {
        fetch(`/get_messages/${unique_Key}/`)
            .then(response => response.json())
            .then(messages => {
                const chatMessagesDiv = document.querySelector("#chat-messages");
                messages.forEach(message => {
                    displayMessage({
                        message: message.content,
                        username: message.sender__username,
                        profile_picture_url: message.profile_picture_url
                    });
                });
            });
    };

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        // Check if the message ID is already in sentMessageIds
        if (sentMessageIds.has(data.id)) {
            // Remove the message ID from sentMessageIds after rendering
            sentMessageIds.delete(data.id);
            return;
        }

        // Display the incoming message
        displayMessage(data);
    };

    function displayMessage(data) {
        console.log("displaymessage");
        var div = document.createElement("div");
        div.className = "chat-messages__content";

        var img = document.createElement("img");
        img.src = data.profile_picture_url;
        img.alt = data.username + "'s profile picture";
        img.width = "50";
        img.height = "50";
        img.style.borderRadius = "100%";
        div.appendChild(img);

        var messageDiv = document.createElement("div");
        messageDiv.innerHTML = "<div>" + data.username + "</div><div><p>" + data.message + "</p></div>";
        div.appendChild(messageDiv);

        document.querySelector("#chat-messages").appendChild(div);
    }

    function generateUUID() {
        console.log("UID");

        // Generate a simple unique ID for tracking sent messages
        return 'xxxx-xxxx-xxxx-xxxx'.replace(/[x]/g, function () {
            var r = Math.random() * 16 | 0, v = r;
            return v.toString(16);
        });
    }

</script>
</body>
</html>
